// Compass imports & mixins
@import "compass"
@import "compass/reset"

@mixin data-uri-bg($image, $properties: false)
  @if $properties != false
    background: inline-image($image) $properties
    *background: url($image) $properties
  @else
    background: inline-image($image)
    *background: url($image)

// Variable
$fontFamily: 'Simonetta', cursive, Georgia, serif
$swirlFont: 'Cookie', cursive
$boldFont: 'Averia Serif Libre', cursive
$fontColor: #111
$alertColor: #c30c30

::-moz-selection
  background: $alertColor
  color: #fff
  text-shadow: none

::selection
  background: $alertColor
  color: #fff
  text-shadow: none

body
  font-family: $fontFamily
  /* The font-size is now 0.625 * 16px = 10px. */
  font-size: 0.625em
  /* The leading is now 25 pixels. */
  line-height: 2.5em
  color: $fontColor
  +data-uri-bg("bg.jpg")

a
  color: $alertColor
  text-decoration: none
  &:hover
    text-decoration: underline

header
  padding-top: 372px
  margin-bottom: 30px
  background: url("../images/chameleon.jpg") top center no-repeat

  h1
    width: 440px
    margin: 0 auto
    padding: 30px 0
    position: relative
    font-size: 15em
    font-family: $swirlFont
    line-height: 1
    color: $alertColor
    +text-shadow(#fff 1px 1px 1px)

  span
    display: block
    position: absolute
    color: #3b3b3b

  .sub
    top: 0
    font-family: $boldFont
    font-size: 0.1667em
    font-weight: bold

  .by
    right: 0
    font-family: $fontFamily
    font-size: 0.12em
    font-style: italic

.wrap
  max-width: 1000px
  margin: 0 auto 50px

.text
  font-size: 1.9em
  line-height: 1.6em

  &.intro
    font-size: 2.1em

  h2
    margin: 40px 0 25px
    text-align: center
    font-size: 1.5789em
    font-weight: 700
    +text-shadow(#fff 1px 1px 1px)

  p
    margin: 0 80px 40px

.figures
  margin: 50px 0
  overflow: hidden

  figure
    float: left
    margin-left: 20px

    &:first-child
      margin-left: 0

  figcaption
    font-size: 1.8em

figure
  width: 32%
  position: relative
  overflow: hidden

  &.wide
    width: 50%
    margin: 50px auto

figcaption
  width: 100%
  bottom: 0
  position: absolute
  padding: 3px 10px
  font-size: 0.85em
  font-style: italic
  background: $alertColor
  color: #fff

blockquote
  width: 38%
  float: left
  margin: 0 10px 10px 0
  font-family: $boldFont
  font-weight: bold
  font-size: 1.1em
  line-height: 1.45em
  +text-shadow(rgba(0, 0, 0, 0.2) 1px 1px 1px)

  &.right
    float: right
    text-align: right

  &.full
    width: 70%
    float: none
    margin: 0 auto
    font-style: italic
    font-weight: normal

    span
      display: block
      margin-top: 10px
      text-align: right
      font-size: 0.8em

.letter
  display: inline-block
  margin: 15px 6px 0 0
  float: left
  font-size: 3.2em
  font-weight: 500

.note
  font-family: $boldFont
  font-style: italic

  em
    font-weight: bold
    color: $alertColor

.border
  width: 100%
  position: fixed
  border-bottom: solid 10px rgba(0, 0, 0, 0.2)

  &.top
    top: 0

  &.bottom
    bottom: 0

  &.right, &.left
    width: 10px
    border: 0
    bottom: 0
    top: 0
    margin: 10px 0
    background: rgba(0, 0, 0, 0.2)

  &.right
    right: 0
  &.left
    left: 0

footer
  padding-bottom: 30px
  position: relative
  min-height: 30px
  font-size: 1.5em
  line-height: 1.6em

  p
    text-align: center

    &.small
      font-size: 0.95em
      margin: 10px 0
      opacity: 0.7

.chameleon-tree
  width: 670px
  height: 390px
  bottom: -35px
  left: 0
  position: absolute
  z-index: -1

#slider
  width: 320px
  height: 270px
  margin: 0 auto
